<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" id="inputName" placeholder="Name" ng-model="login.name">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password" ng-model="login.password"> 
      </div>
    </div>
    </br>
    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-primary" ng-click="login.userLogin()">Sign in</button>
      </div>
    </div>
  </form>
  </div>
</div>