<div class="container">
  <h1 class="title">Welcome {{::activity.user}}!</h1>
  <activity-post post="post" ng-repeat="post in activity.posts">
  </activity-post>

  
<!--   <div class="panel panel-primary" ng-repeat="post in activity.posts">
    <div class="panel-body">
      <img src="{{post.avatar}}" class="profile-image img-circle">
      <h3><a ui-sref="/profile/{{post.uid}}">{{post.username}}</a></h3>
      <div class="time">{{post.time | timeConversion}} ago</div>
    </div>
    <div class="panel-footer">{{post.text}}</div>
  </div> -->
</div>